body {
    background: #1f1f1f;
}

#player-bg {
    background: #1f1f1f;
    box-shadow: 20px 20px 60px #0c0c0c,
        -20px -20px 60px #323232;
}


/*SHOW CORRECT BUTTONS*/
#lightmode-btn {
    display: yes;
}

#darkmode-btn {
    display: none;
}


/*CSS SWITCH BUTTON*/
.style-btn {
    color: grey;
    background: linear-gradient(145deg, #212121, #1c1c1c);
    box-shadow: 5px 5px 10px #0c0c0c,
        -5px -5px 10px #323232;
}

.style-btn:active {
    border-radius: 50px;
    background: #1f1f1f;
    box-shadow: inset 5px 5px 10px #0c0c0c,
        inset -5px -5px 10px #323232;
}

.style-btn:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #1c1c1c, #212121);
    box-shadow: 5px 5px 10px #0c0c0c,
        -5px -5px 10px #323232;
}


/*LOGO TEXT*/
.logo-text {
    color: #1f1f1f;
}

#logo-left {
    text-shadow: -5px -5px 10px #0c0c0c,
        5px 5px 10px #323232;
}

#logo-right {
    text-shadow: 5px 5px 10px #0c0c0c,
        -5px -5px 10px #323232;
}


/*PLAYER*/
.audio-player-cont {
    background: #1f1f1f;
    color: grey;
}

.artwork {
    background: #1f1f1f;
    box-shadow: 5px 5px 10px #0c0c0c,
        -5px -5px 10px #323232;
}

.artwork img {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);;
}

.player {
    background: #1f1f1f;
    box-shadow: inset 5px 5px 10px #0c0c0c,
        inset -5px -5px 10px #323232;
}


/*PROGRESS SLIDER*/
input[type=range]::-webkit-slider-thumb {
    background: grey;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #282828;
    border: none;
    border-radius: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #181818;
}

input[type=range]::-moz-range-track {
    background: #282828;
}

input[type=range]::-moz-range-thumb {
    background: grey;
}

input[type=range]:focus::-moz-range-track {
    background: #181818;
}


/*BUTTONS AND CONTROLS*/
.controllers * {
    background: linear-gradient(145deg, #212121, #1c1c1c);
    box-shadow: 5px 5px 10px #0c0c0c,
        -5px -5px 10px #323232;
}

.controllers *:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #1c1c1c, #212121);
    box-shadow: 5px 5px 10px #0c0c0c,
        -5px -5px 10px #323232;
}

.controllers *:active {
    border-radius: 50px;
    background: #1f1f1f;
    box-shadow: inset 5px 5px 10px #0c0c0c,
        inset -5px -5px 10px #323232;
}
