@import url("https://fonts.googleapis.com/css?family=Germania+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


* {
    color: white;
    font-family: Montserrat;

}

body {
    background-image: url(../images/knightsbig.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;

    /*    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 49%, rgba(0,0,0,1) 100%);*/
}

h1 {
    font-family: "Pirata One";
}

h2,
h3 {
    font-family: "Germania One";

}

.glow {
    font-size: 80px;
    color: black;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 10s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2a2a2a, 0 0 40px #2a2a2a, 0 0 50px #2a2a2a, 0 0 60px #2a2a2a, 0 0 70px #2a2a2a;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #a8a8a8, 0 0 40px #a8a8a8, 0 0 50px #a8a8a8, 0 0 60px #a8a8a8, 0 0 70px #a8a8a8, 0 0 80px #a8a8a8;
    }
}

a {
    text-decoration: line-through;

}

#splash {
    background-color: black;
    background-image: url(../images/cansmall.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 220px;
    text-shadow: 0 0 15px black;
}

#splash h1 {
    position: sticky;
    font-size: 10em;

}

#splash h2 {
    font-size: 3em;
}

#splash h3 {
    color: black;
}

#splash h3:hover {
    color: white;
    transition-duration: 1s;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-top: 4px solid white;
    border-right: 4px solid white;
}

.arrow-bottom {
    transform: rotate(135deg);
    padding: 0;
}

.arrow-bottom:hover {
    transform: rotate(135deg);
    padding: 0;
    width: 10px;
    height: 10px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    transition-duration: 1s;
}

#splashscroll {
    position: absolute;
    margin-left: 48%;
    margin-top: 55px;
}

/* PAGE CONTAINER*/

#pagecontainer {
    box-sizing: border-box;
    display: flex;
    min-height: 500px;
}

#logo {
    opacity:0;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* LEFT NAV BOX */

#left-navbox {
    position: relative
    bottom:160px;
    left: 9px;
    width: 200px;
    height: 600px;
    margin-left: 30px;
    background-image: linear-gradient(180deg, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
    /*    border: 2px white solid;*/
    text-align: center;
}



#left-navbox h2 {
    border-bottom: 1px white solid;
    border-top: 1px white solid;
}

.button1 {

    display: inline-block;
    font-family: "Germania One";
    text-transform: uppercase;
    margin: 20px;
    font-size: 2em;
    border: none;
    background: none;
    cursor: crosshair;
    transition: 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}

#left-navbox .button1:hover {

    font-family: "Germania One";
    text-transform: uppercase;
    margin: 20px;
    opacity: 0%;
}



.insetborder {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.insetborder:hover {
    box-shadow: inset 0 0 0 5px #2a2a2a;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;

}

#right-contentbox {
    min-width: 72%;
    margin-left: 50px;
    padding-left: 20px;
    padding-right 20px;
    transition-duration: 2s;
    text-align: center;
    /*    border: 2px black dashed;*/
    /*    background-color: rgba(100, 100, 100, 0.3);*/

}

.right-content {
    width: 90%;
        transition-duration: 2s;
    text-align: center;
}



/* PROJECTS TIMELINE */

#projTimeline {
    display: flex;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    width: 110%;

}

.tl-item {
    position: relative;
    width: 25%;
    min-height: 400px;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s ease;
    margin: 10px;
    padding: 40px;
    border: 1px white solid;
    background-color: black;

}

.tl-item:hover {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0px;
    margin: 0px;
}

.tl-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: all 0.5s ease;
    filter: grayscale(100%);
    opacity: 20%;

}

.tl-bg:hover {
    filter: grayscale(10%);
    opacity: 50%;
}

.tl-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: black;
}

/*
.tl-content {
  
  position: relative;
  margin-top: 100px;
    padding: 50px;
    text-align: center;
  opacity: 1;
  color: white;
}
.tl-content:hover {
  
  position: relative;
  text-align: center;
  opacity: 1;
  color: white;
}
*/

/* PROJECTS EXPANDED */

#projects-big{
    margin-top: 200px;
    padding-top: 200px;
    width:100%;
    background-color: black;
    background-image: url(../images/cansmall.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }

.proj-expanded {
    width: 70%;
    transition-duration: 2s;
    text-align: center;
    padding-left: 30px;
    
}

.proj-text-box{
    width:798px;
    height:600px;
    opacity: 0;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 0.7);    
    position:absolute;
    left:416px;
    bottom: -1988px;
    transition-duration: 05.s;
    }

.proj-text-box:hover{
    opacity:.9;
}
.proj-content-text{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 180px;
}


p {
    text-align: justify;
}

.content-text {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

footer {
    margin-top: 50px;
    clear: both;
    color: white;
}
