@import url("https://fonts.googleapis.com/css?family=Germania+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


* {
    color: white;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

* a {
    text-decoration: none;
}

*textarea:focus,
*input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    background-image: url(../images/knightsbig.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}


/* LOGOS and MISC */

h1 {
    font-family: "Pirata One";
}

h2,
h3 {
    font-family: "Germania One";
}

.glow {
    font-size: 80px;
    color: black;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 10s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2a2a2a, 0 0 40px #2a2a2a, 0 0 50px #2a2a2a, 0 0 60px #2a2a2a, 0 0 70px #2a2a2a;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #a8a8a8, 0 0 40px #a8a8a8, 0 0 50px #a8a8a8, 0 0 60px #a8a8a8, 0 0 70px #a8a8a8, 0 0 80px #a8a8a8;
    }
}

a {
    text-decoration: none;
}


/* SPLASH PAGE */

#splash {
    background-color: black;
    background-image: url(../images/cansmall.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 40px;
    text-shadow: 0 0 15px black;
    height: 100vh;
    width: 98vw;
}

#splash h1 {
    position: sticky;
    font-size: 10em;
}

#splash h2 {
    font-size: 3em;
}

#splash h3 {
    color: black;
}

#splash h3:hover {
    color: white;
    transition-duration: 1s;
}

.arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-top: 7px solid white;
    border-right: 7px solid white;
}

.arrow-bottom {
    transform: rotate(135deg);
    padding: 0;
}

.arrow-bottom:hover {
    transform: rotate(135deg);
    padding: 0;
    border-top: 7px solid black;
    border-right: 7px solid black;
    transition-duration: 1s;
}

#splashscroll {
    position: absolute;
    margin-left: 48%;
    margin-top: 50px;
}


/* PAGE CONTAINER */

#pagecontainer {
    margin-top: 2vh;
    width: 98vw;
    min-height: 100vh;
}

#logo {
    opacity: 0;
    margin-top: 100px;
    margin-bottom: 50px;
}


/*  NAV BAR  */

#left-navbox {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background: black;
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
    opacity: 80%;
    text-align: center;
    z-index: 100;
}

.button1 {
    display: inline-block;
    font-family: "Germania One";
    text-transform: uppercase;
    margin: 20px;
    font-size: 2em;
    border: none;
    background: none;
    cursor: crosshair;
    transition: 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}

.button2 {
    display: inline-block;
    font-family: "Germania One";
    text-transform: none;
    margin-top: 20px;
    font-size: 2em;
    border: none;
    background: none;
    cursor: crosshair;
    transition: 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    overflow: hidden;
}

#left-navbox .button1:hover {
    font-family: "Germania One";
    text-transform: uppercase;
    margin: 20px;
    opacity: 0%;
}

.homebutton {
    float: left;
}

.insetborder {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.insetborder:hover {
    box-shadow: inset 0 0 0 5px #2a2a2a;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

#right-contentbox {
    transition-duration: 2s;
    text-align: center;
}

.right-content {
    margin: auto;
    width: 90%;
    transition-duration: 2s;
    text-align: center;
}

/*   ABOUT   */

.about-flex {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.about-flex img {}


/* EXPERIENCE TIMELINE */

#experience {
    padding 25px;
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.exp-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.left {
    left: -7%;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.exp-content {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    border: white solid 1px;
}


/* PROJECTS FLEXBOX */

#projTimeline {
    display: flex;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin-top: 15vh;
}

.tl-item {
    position: relative;
    width: 25%;
    min-height: 400px;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s ease;
    margin: 10px;
    padding: 40px;
    border: 1px white solid;
    background-color: black;
}

.tl-item:hover {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0px;
    margin: 0px;
}

.tl-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: all 0.5s ease;
    filter: grayscale(100%);
    opacity: 20%;

}

.tl-bg:hover {
    filter: grayscale(10%);
    opacity: 50%;
}

.tl-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: black;
}


/* PROJECTS EXPANDED */

#projects-big {
    margin: auto;
    margin-top: 200px;
    padding-top: 0px;
    min-height: 800px;
    height;
    100vh;
    width: 98vw;
    background-color: black;
    background-image: url(../images/cansmall.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.proj-expanded {
    margin: auto;
    width: 70%;
    transition-duration: 2s;
    text-align: center;
    padding-left: 30px;
    position: relative;
}

#pagecontainer img {
    max-width: 98%;
    height: auto;
    box-shadow: 0px 0px 30px -14px rgba(255, 255, 255, 0.5);
}

.proj-text-box {
    margin: auto;
    opacity: 0;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 22%;
    top: 32%;
    width: 60%;
    z-index: 100;
    transition-duration: 05.s;
}

.proj-text-box:hover {
    opacity: .9;
}

.proj-content-text {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

p {
    text-align: justify;
}

.content-text {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-bottom: 1px white dashed;
    border-top: 1px white dashed;
}

footer {
    margin-top: 50px;
    clear: both;
    color: white;
}


/*   CONTACT FORM   */

.form-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.8);
    margin: auto;
    padding-top: 8em;
    animation-name: modalfade;
    animation-duration: 0.5s
}

@keyframes modalfade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.submitForm {
    width: 50%;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgba(0, 0, 0, 1);
}

input[type=submit] {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem 2rem;
    border: 2px white solid;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(20, 20, 20, 0.8);
}

.contact-links {
    margin-top: 30vh;
}

.contact-links button {
    background: rgba(0, 0, 0, 0.8);
    border: white solid 2px;
    padding: 1em;
    margin: 1em;
    font-size: 1.5rem;
}

.contact-links button:hover {
    cursor: crosshair;
}

/* MEDIA QUERY */

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


    .timeline::after {
        left: 31px;
    }

    .exp-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .exp-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    
    .exp-content p{
        font-size: 0.9rem !important;
    }

    .right {
        left: 0%;
    }

    .left {
        left: 0%;
    }



    #splash h1 {
        padding-top: 15vh;
    }

    #pagecontainer h2 {
        font-size: 4rem;
    }

    #pagecontainer p {
        font-size: 2rem;
    }

    .about-flex {
        flex-direction: column;
    }

    #about-image {
        height: 30vh !important;
        width: auto;
    }

    #projTimeline {
        flex-direction: column;
        align-items: flex-start;
    }

    .tl-item {
        width: 85%;
        height: 20vh;
    }

    .tl-item:hover {
        width: 85%;
        height: 20vh;
    }

    .proj-text-box {
        position: relative;
        margin: auto;
        margin-top: 2vh;
        opacity: 0.9;
        left: auto;
        top: auto;
        width: 99%;
    }

    .proj-text-box {
        text-decoration: none !important;
        font-style: normal;
    }

    .proj-expanded {
        overflow: hidden;
    }

    input[type=text],
    select,
    textarea {
        display: block;
        width: 80vw;
        margin-left: 0;
        padding: 3rem;
        font-size: 2.5rem;
    }

    .submitForm {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }

}


/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}
