@font-face {
    font-family: 'Chinese';
    src: local('Chinese'), url("../fonts/Chinese.ttf") format('truetype');
}

@font-face {
    font-family: 'Dream MMA';
    src: local('Dream MMA'), url("../fonts/Dream MMA.ttf") format('truetype');
}

@font-face {
    font-family: 'Yoruka';
    src: local('Yoruka'), url("../fonts/Yoruka.otf") format('opentype');
}

@font-face {
    font-family: 'Harukaze';
    src: local('Harukaze'), url("../fonts/Harukaze.ttf") format('truetype');
}

@font-face {
    font-family: 'coolvetica rg';
    src: local('coolvetica rg'), url("../fonts/coolvetica rg.ttf") format('truetype');
}

@supports ((scroll-snap-type: mandatory) or (-webkit-scroll-snap-type: mandatory)) {}

html {
    background-color: lightsteelblue;
}

body {
    margin: 0;
  }

h1 {
    color: white;
    font-size: 4rem;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}



/* ====  SKYLINE ====  */

#skyline {
    height: 200vh;
    width: auto;
    overflow-x: hidden;
    text-align: center;
    z-index: 1;
}

#skylinetitle {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skylinetitleoutline {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skylinetitle h1 {
    font-size: 10rem;
    font-family: Chinese;
    font-weight: normal;
}

#skylinetitleoutline h1 {

    font-size: 10rem;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Chinese;
    font-weight: normal;
}

#skylinebg {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: url(../images/skyline/HK-skyline_0005_sky-background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#foliage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    background-image: url(../images/skyline/HK-skyline_0000_foliage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#foreground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-image: url(../images/skyline/HK-skyline_0001_Foreground-buildings.png);
    background-size: cover;
}

#midfore {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-image: url(../images/skyline/HK-skyline_0002_Mid-Fore-Buildings.png);
    background-size: cover;
}

#backfore {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-image: url(../images/skyline/HK-skyline_0003_back-fore-buildings.png);
    background-size: cover;
}

#farsky {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url(../images/skyline/HK-skyline_0004_Layer-6.png);
    background-size: cover;
}



/* ==== TEMPLE ==== */

#temple {
    height: 400vh;
    width: 100%;
    overflow-y: hidden;
    text-align: center;
    position: relative;
    z-index: 10;
}

#temple-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url(../images/temple/temple_0003_clouds-bg-min.png);
    background-size: cover;
}

#temple-buildings {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url(../images/temple/temple_0000_Buildings-min.png);
    background-size: cover;
}

#temple-buildings-left {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url(../images/temple/temple_0001_mid-buildingsBLUR-min.png);
    background-size: cover;
}

#temple-temple {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url(../images/temple/temple_0002_temple-min.png);
    background-size: cover;
}

.temple-text {
    z-index: 10;
    position: relative;
    padding: 10vh;
}

.temple-text h2 {
    font-size: 10rem;
    color: white;
    text-shadow: 4px 4px 6px #000000;
}

#neutral-text h2 {
    font-family: Yoruka;
    font-size: 12rem;
}

#modern-text h2 {
    font-family: Dream MMA;
    color: black;
    text-shadow: 4px 4px 6px #FFFFFF;
    transition-duration: 500ms;
}

#modern-text h2:hover {
    color: rgba(0, 0, 255, 0.5);
    text-shadow: 4px 4px 6px #FFFFFF;
}

#ancient-text h2 {
    font-family: Harukaze;
    font-size: 20rem;
    color: red;
    font-weight: 1000 !important;
}



/*   ==== NIGHT LIFE ====   */

#neondivider {
    width: auto;
    height: auto;
    position: relative;
    margin-top: -20px;
    margin-bottom: -20px;
    z-index: 100;

}

#neondivider img {
    height: auto;
    width: 98vw;
    margin-top: -125px;
    margin-bottom: -125px;
}

#nightlife {
    height: 90vh;
    width: auto;
    overflow-y: scroll;
    scrollbar-width: none;

    text-align: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding-bottom: 6rem;
    background-image: url(../images/nightlife/nightlifeWIDE-min.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}

#nightlife::-webkit-scrollbar {
    display: none;
}

.nightlife-title {
    z-index: 10;
    position: relative;
    padding: 25vh;
    font-size: 5rem;
    color: white;
    text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000, 6px 6px 0 #000;
    font-family: Yoruka;
    font-weight: normal;
}

.nightlife-flex {
    display: flex;
    z-index: 10;
    padding: 2rem;
    padding-bottom: -10vh;
    margin-bottom: -8vh;
    margin-left: 20vw;
    margin-right: 20vw;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    justify-content: center;
}

.nightlife-flex-div {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    line-height: 2rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.nightlife-flex-div:hover {
    overflow: visible;
}

.nightlife-flex-div-inner {
    width: 10rem;
    height: 10rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border: black solid 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    font-family: coolvetica rg;
}

.nightlife-flex-div:hover .nightlife-flex-div-inner:hover {
    z-index: 100;
    width: 14rem;
    height: 14rem;
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0.9);
}



/*   ===== WEATHER =====    */

#weather {
    height: 110vh;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
    margin: none;
    padding-bottom: 6rem;
    background-image: url(../images/weather/weather-bg-min.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}

#weather-body {
    padding-top: 10vh;
}

#weather-body h1 {
    font-size: 9rem;
    font-family: Chinese;
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.weatherGrid {
    position: relative;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(4, 10%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
}

.gridItem {
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-self: center;
}

.weatherIcon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.weatherMain {
    grid-column: 2 / 5;
    font-family: Yoruka;
    font-weight: normal;
    font-size: 3rem;
}

.weatherDescrip {
    grid-column: 2 / 5;
    font-size: 1.5rem;
    font-family: coolvetica rg;
}
